www/phpinfo.php
www/test.php
files/
.idea/
.bash_history
.viminfo
vendor/
error.log
*.sql
*.gz
*.zip
*.tar.gz
.php_cs.cache
*.serial
.phpunit.result.cache
/cebe/markdown/tests
/HighlightUtilities
/Highlight/Highlight
/Highlight/HighlightUtilities
CHANGELOG.md
CONTRIBUTING.md
LICENSE.md
/Sample
/Slack/Tests
/Symfony/Polyfill
composer.lock
.php-cs-fixer.cache

